<!-- Sidebar -->
</div>
<div id="sidebar">

	<!-- Logo -->
		<a href="/"><div id="logo">
			<h1>PowerForms</h1>
		</div></a>

	<!-- Facebook login -->
		<section class="is-text-style1">
			<div class="inner">
				<!--
				  Below we include the Login Button social plugin. This button uses the JavaScript SDK to
				  present a graphical Login button that triggers the FB.login() function when clicked. -->

				<fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
			</div>
		</section>

	<!-- Search -->
		<section class="is-search">
		  
		  <form method="post" action="/search/letters/tags">
		  <input type="text" name="tag" id="searchTags" placeholder="Search tags" />
		  </form>
			
		</section>

	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li id="create"><a href="/create-form">Create Form</a></li>
				<li><a href="/">Browse</a></li>
				<li><a href="/search/letters/tags/?tag=german">German</a></li>
				<li><a href="/search/letters/tags/?tag=english">English</a></li>
			</ul>
		</nav>

	<!-- Text -->
		<section class="is-text-style1">
			<div class="inner">
				<p>
					<strong>PowerForms:</strong> Forms, letters and statements for any situation. In the language you need.
				</p>
			</div>
		</section>

	<!-- Recent Posts -->
		<section class="is-recent-posts">
			<header>
				<h2>Recent Posts</h2>
			</header>
			<ul>
				<li><a href="/letter/Invoice-%20English">Invoice - English</a></li>
				<li><a href="/letter/Invoice-%20German">Invoice - German</a></li>
				<li><a href="/letter/Sicknote-%20German">Sicknote - German</a></li>
				<li><a href="/letter/Sicknote-%20German">Sicknote</a></li>
				<li><a href="/letter/Applicationemail">Application Email</a></li>
			</ul>
		</section>

	<!-- Calendar -->
		<section class="is-calendar">
			<div class="inner">
				<table>
					<caption>February 2014</caption>
					<thead>
						<tr>
							<th scope="col" title="Monday">M</th>
							<th scope="col" title="Tuesday">T</th>
							<th scope="col" title="Wednesday">W</th>
							<th scope="col" title="Thursday">T</th>
							<th scope="col" title="Friday">F</th>
							<th scope="col" title="Saturday">S</th>
							<th scope="col" title="Sunday">S</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="4" class="pad"><span>&nbsp;</span></td>
							<td><span>1</span></td>
							<td class="today"><a href="#">2</a></td>
							<td><span>3</span></td>
						</tr>
						<tr>
							<td><span>4</span></td>
							<td><span>5</span></td>
							<td><a href="#">6</a></td>
							<td><span>7</span></td>
							<td><span>8</span></td>
							<td><span>9</span></td>
							<td><a href="#">10</a></td>
						</tr>
						<tr>
							<td><span>11</span></td>
							<td><span>12</span></td>
							<td><span>13</span></td>
							<td><span>14</span></td>
							<td><span>15</span></td>
							<td><span>16</span></td>
							<td><span>17</span></td>
						</tr>
						<tr>
							<td><span>18</span></td>
							<td><span>19</span></td>
							<td><span>20</span></td>
							<td><span>21</span></td>
							<td><span>22</span></td>
							<td><a href="#">23</a></td>
							<td><span>24</span></td>
						</tr>
						<tr>
							<td><a href="#">25</a></td>
							<td><span>26</span></td>
							<td><span>27</span></td>
							<td><span>28</span></td>
							<td class="pad" colspan="3"><span>&nbsp;</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	
	<!-- Copyright -->
		<div id="copyright">
			<p>
				<div id="fb-root"></div>

				&copy; 2014 PowerForms.<br />
				Design: based on <a href="http://html5up.net/">HTML5 UP</a>
			</p>
		</div>

</div>

<script src="/js/jquery.autocomplete.min.js"></script>

<script type="text/javascript">
  
  $('#searchTags').autocomplete({
  serviceUrl:'/search/tags/name',
  minChars:1,
  //lookup: ['tagxy'],
  delimiter: /(,|;)\s*/,
  });
  
</script>
</body>
</html>
