<% include base %>

<!-- Content -->
	<div id="content">
		<div id="content-inner">
			<!-- Post -->
				<article class="is-post is-post-excerpt">
					<header>
						<h2><a href="#">Create new Letter</a></h2>
						<span class="byline">This form lets you create a new letter. Please fill in all fields.</span>
					</header>
					<p>
					<form id="new-letter">
						Title: <input type="text" id="letter-title"><br><br>
						Tags (separated by semi-colons): <input type="text" id="letter-tags"><br><br>
						Letter:
					  <script src="/js/jquery.min.js"></script>
					  <script src="/cleditor/jquery.cleditor.js"></script>
					  <script src="/cleditor-tables/jquery.cleditor.table.js"></script>
					  <script src="/cleditor-html/jquery.cleditor.html.js"></script>
					  <link rel="stylesheet" type="text/css" 
						href="/cleditor/jquery.cleditor.css" />
					  </head>
					  <body>
					    <div>
					      <textarea id="letter-text" rows="100" cols="50"></textarea>
					    </div>
					    <script type="text/javascript">
					      
					    </script>
					    <br>
						
					</form>
					<input type="submit" value="Submit" id="newLetterSubmit">
				    </p>
				</article>
		</div>
	</div>
<% include base-footer %>

<script type="text/javascript">
	$(document).ready(function() {
		var editor = $("#letter-text").cleditor()[0];
		$("#newLetterSubmit").on("click", uploadForm);
		$('#create').addClass('current_page_item');		
	})
</script>