<% include base %>

<!-- Content -->
<div id="content">
  <div id="content-inner">

    <!-- Post -->
    <article class="is-post is-post-excerpt">
      <header>
	<!--
	    Note: Titles and bylines will wrap automatically when necessary, so don't worry
	    if they get too long. You can also remove the "byline" span entirely if you don't
	    need a byline.
	  -->
	<h2><a href="#">Welcome to PowerForms</a></h2>
	<span class="byline">Forms, letters and statements for any situation. In the language you need.</span>
      </header>
      <a href="#" class="image image-full"><img src="http://www.impowerable.com/wp-content/uploads/2012/06/writing_a_letter.jpg" alt="" height=300 /></a>
      <p>
	<strong>Hello!</strong> You're looking at PowerForms, a site that helps you whenever you need to write letters or talk to any institution, organization, professor, etc. Next time you need to write an excuse or cancel a contract just fill in your name and other info and you're good to go. Even if you need it in German. 
      </p>

      <style type="text/css">
	.recent-letter{
	
	float: left;
	margin: 10px;
	}

	.recent-letter h3{

	background: #e2e2e2;
	}

      </style>

      <h2>Recent Forms</h2>
    <% for(var i=0; i<letters.length && letters[i].name!=""; i++){ %>
       <h2 id="search-result">
     <a href="/letter/<%= letters[i].name %>">
      <%= (i+1) %>. <%= letters[i].displayname %>
    </a>
        <% for(var j = 0; j < letters[i].tags.length; j++){ %>
          <k>
            <% if(j===letters[i].tags.length-1) { %> ( <% } %>
            <%= letters[i].tags[j].name %>
            <% if(j===0) { %> ) <% } else { %>, <% }%>
          </k>
        <% } %>
  </h2>
  <% } %>

    </article>
  </div>
</div>
<% include base-footer %>
