<html>
  <head>
  <script src="/js/jquery.min.js"></script>
  <script src="/cleditor/jquery.cleditor.js"></script>
  <script src="/cleditor-tables/jquery.cleditor.table.js"></script>
  <script src="/cleditor-html/jquery.cleditor.html.js"></script>
  <link rel="stylesheet" type="text/css" 
	href="/cleditor/jquery.cleditor.css" />
  </head>
  <body>
    <div>
      <textarea id="mytext" rows="100" cols="50"></textarea>
    </div>
    <script type="text/javascript">
      $("#mytext").cleditor();
    </script>
  </body>
</html>
